<div class="world-container">
  <div id="world-map-container" class="world-map-container">
    <div class="block">
      <p class="world-info-name" *ngIf="world && world.name">{{world.name}}, {{world.era}}</p>
    </div>
    <div class="edit-button-container">
      <button class="edit-button" (click)="drawer.toggle() && toggleSessionsMode()" mat-raised-button>{{showSessions && 'Hide Sessions' || 'View Sessions'}}</button>
      <button id="edit-button" class="edit-button" name="edit-button" (click)="toggleEditMode()" mat-raised-button>{{editMode && 'Disable Edit Mode' || 'Enable Edit Mode'}}</button>
      <button class="edit-button" (click)="worldsDrawer.toggle() && toggleWorldsMode()" mat-raised-button>{{showWorlds && 'Hide Worlds' || 'View Worlds'}}</button>
    </div>
    <div id="world-map-color-picker-container" class="world-map-color-picker-container" style="display: none;">
      <div class="block">
        <button id="edit-text-button" class="edit-button" (click)="toggleEditTextMode()" mat-raised-button>{{editTextMode && 'Disable Text Edit Mode' || 'Enable Text Edit Mode'}}</button>
        <label id="edit-text-label" class="edit-text-label" >Enter Text: </label>
        <input type="text" id="edit-text" class="edit-text" (change)="updateText(this)" matInput />
        <label id="color-width-label" class="color-label" >Text Size: </label>
        <input id="text-size" class="text-size" type="number" [(ngModel)]="textSize" matInput />
        <label id="color-picker-label" class="color-label" >Select Color: </label>
        <input id="color-picker" class="color-picker" [(colorPicker)]="textColor" [style.background]="textColor" ng-reflect-color-picker="#816969" style="background: rgb(129, 105, 105);">
      </div>
      <div class="block">
        <button id="edit-color-button" class="edit-button" (click)="toggleEditColorMode()" mat-raised-button>{{editColorMode && 'Disable Color Edit Mode' || 'Enable Color Edit Mode'}}</button>
        <label id="color-width-label" class="color-label" >Brush Width: </label>
        <input id="color-brush-width" class="color-brush" type="number" [(ngModel)]="brushWidth" />
        <label id="color-picker-label" class="color-label" >Select Color: </label>
        <input id="color-picker" class="color-picker" [(colorPicker)]="color" [style.background]="color" ng-reflect-color-picker="#816969" style="background: rgb(129, 105, 105);">
      </div>
      <div class="block">
        <label id="map-width-label" class="map-width-label" >Width: </label>
        <input type="number" id="map-width" class="map-width" [(ngModel)]="mapWidth" matInput />
        <label id="map-height-label" class="map-width-label" >Height: </label>
        <input type="number" id="map-height" class="map-width" [(ngModel)]="mapHeight" matInput />
        <button class="refresh-map" id="refresh-map" class="refresh-map-button" (click)="generateNewMap()" mat-raised-button>Refresh Map</button>
        <label class="map-width-label" >Load Map: </label>
        <input type="file" id="load-map" class="load-map-button" (change)="uploadMap(this)" />
        <button class="save-map" class="save-map-button" (click)="downloadMap(this)" mat-raised-button>Download Map</button>
        <button class="save-map" class="save-map-button" (click)="openMapNameDialog()" mat-raised-button>Save Map to World</button>
      </div>
    </div>
    <mat-drawer-container class="drawer-container" >
      <mat-drawer class="session-side-nav" #drawer>
          <div *ngIf="world && world.sessions && showSessions">
            <mat-accordion *ngFor="let s of world.sessions">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <input class="title" [(ngModel)]="s.name" />
                  </mat-panel-title>
                  <mat-panel-description>
                    {{s.date}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <textarea class="session-desc" [(ngModel)]="s.desc"></textarea>
                <button class="world-select-button" (click)="updateWorldSession(s)" mat-raised-button>Update {{s.name}}</button>
                <button class="world-select-button" (click)="deleteWorldSessionConfirm(s.id, s.name)" mat-raised-button>Delete {{s.name}}</button>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div class="footer">
            <button class="create-button" (click)="createNewWorldSession(this)" mat-raised-button>Create New World Session</button>
          </div>
      </mat-drawer>
      <mat-drawer position="end" class="worlds-side-nav" #worldsDrawer>
          <div *ngIf="worlds && showWorlds">
            <h3 class="maps-header">Worlds</h3>
            <mat-accordion *ngFor="let w of worlds">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <input class="title" [(ngModel)]="w.name" />
                  </mat-panel-title>
                  <mat-panel-description>
                    {{w.dateUpdated}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <textarea class="session-desc" [(ngModel)]="w.desc"></textarea>
                <button class="world-select-button" (click)="loadWorld(w)" mat-raised-button>Load {{w.name}}</button>
                <button class="world-select-button" (click)="updateWorld(w)" mat-raised-button>Update {{w.name}}</button>
                <button class="world-select-button" (click)="deleteWorldConfirm(w.id, w.name)" mat-raised-button>Delete {{w.name}}</button>
              </mat-expansion-panel>
            </mat-accordion>
            <div class="footer">
                <div class="pagination-icon" (click)="moveToStart()" >
                    <mat-icon>arrow_back</mat-icon>
                </div>
                <div class="pagination-icon" (click)="moveBack()" >
                    <mat-icon>arrow_back_ios</mat-icon>
                </div>
                <div class="pagination-place">
                    <label>Page {{page.number + 1}}</label>
                </div>
                <div class="pagination-icon" (click)="moveNext()">
                    <mat-icon>arrow_forward_ios</mat-icon>
                </div>
                <div class="pagination-icon" (click)="moveToEnd()">
                    <mat-icon>arrow_forward</mat-icon>
                </div>
                <button class="create-button" (click)="createNewWorld(this)" mat-raised-button>Create New World</button>
            </div>
            <h3 class="maps-header">World Maps for {{world.name}}</h3>
            <div *ngFor="let m of maps">
              <div class="map-select-container">
                <h3>{{m.name}}</h3>
                <button class="map-select-button" (click)="loadWorldMap(m)" mat-raised-button>Load {{m.name}}</button>
                <button class="map-select-button" (click)="deleteWorldMapConfirm(m.id, m.name)" mat-raised-button>Delete {{m.name}}</button>
              </div>
            </div>
            <div class="space-holder">
            </div>
          </div>
      </mat-drawer>
      <mat-drawer-content>
        <svg id="world-map" class="world-map">
        </svg>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
</div>
<app-progress-spinner *ngIf="isLoading"></app-progress-spinner>
