
.header {
  width: 100%;
  text-align: center;
  font-size: 18px;
  background-color: black;
  color: white;
  padding: 0.25em;
}

.header h1 {
  margin: 0em;
  padding: 0em;
}

.header p {
  margin: 0.25em;
  padding: 0em;
}
