.login {
  width: 100%;
  height: 100%;
  padding-top: 4em;
}

.login-container {
  width: 50%;
  margin: auto;
  text-align: center;
}

.field input {
  margin: 1em;
  width: 40%;
}

.login-button:hover {
  background: #1399f7;
}

.login-button {
  margin: 0.5em;
  width: 20%;
  color: white;
  background: #2183c8;
}

.error-message {
  color: RED;
  margin: 0.5em;
}
