<div class="login">
   <div class="login-container">
       <div class="field-container">
         <div class="field">
           <input placeholder="Username" required [(ngModel)]="username" matInput>
         </div>
         <div class="field">
           <input placeholder="Password" type="password" (keyup)="loginWithEvent($event)" required [(ngModel)]="password" matInput>
         </div>
       </div>
       <div class="error-message" id="error-message"></div>
       <div>
         <button class="login-button" (click)="login()" mat-raised-button>Log In</button>
       </div>
   </div>
</div>
<app-progress-spinner *ngIf="isLoading">
</app-progress-spinner>
